.coverage
.ipynb_checkpoints
.DS_Store

.env
# Specify the Python version (3.8.6) of the virtual environment:
.python-version  

raw_data/
data/
#notebooks/

**/__pycache__/
*.egg-info

*.csv
#*.ipynb
*.joblib
